.hero-section {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  margin: auto 80px;
}

.hero-right {
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 48.41px;
  letter-spacing: -0.02em;
  padding-top: 10%;
}

.hero-right span {
  line-height: 52.61px;
  background: linear-gradient(93.31deg, #1173b3 -34.01%, #0cb9b3 69.91%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-right p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #707070;
}

.hero-mid {
  order: 3;
  position: absolute;
  width: 90%;
  left: 7%;
  bottom: 20%;
}

.divider {
  width: 100%;
  margin-top: -20px;
  rotate: 178.73deg;
  height: 38px;
  background: linear-gradient(282.8deg, #f0c971 11.7%, #e5688c 63.17%);
}

.pillers-section {
  padding: 80px;
}

.navigation button {
  border-radius: 40px;
  border: 1px solid #c6c6c6;
  background: #ffffff;
  display: grid;
  place-items: center;
  padding: 11px;
}

.navigation {
  display: flex;
  gap: 14px;
}

.main-heading span {
  font-weight: 600;
  background: linear-gradient(289.5deg, #f1ca72 27.25%, #d96e6c 92.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-heading {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #707070;
  background: none;
  align-items: center;
  font-family: Inter;
  font-size: 28px;
  font-style: italic;
  line-height: 37.24px;
}

.sub-heading {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.28px;
  letter-spacing: 0.075em;
  text-align: left;
  color: #707070;
}

.activity-titles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
}

.activity {
  border: 0.85px solid #d2d2d2;
  padding: 5.08px 16.94px 5.08px 16.94px;
  border-radius: 25px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.28px;
  text-align: center;
  color: #707070;
}

.activity:first-child{
  background: #000;
  color: white;
}

.cards {
  display: flex;
  align-items: center;
  gap: 23px;
  overflow: scroll;
  width: 100%;
  padding: 20px 0;
}

.scroll::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}

@media screen and (max-width: 1280px) {
  .hero-section {
    grid-template-columns: 1fr 1fr;
    margin: auto 40px;
    column-gap: 50px;
  }
  .hero-right {
    font-size: 30px;
  }
  .hero-right p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1020px) {
  .hero-section {
    margin: auto 20px;
    column-gap: 30px;
  }
  .hero-right {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
    margin: auto 40px;
    row-gap: 50px;
    column-gap: 0;
  }

  .hero-right {
    order: 1;
  }

  .hero-left {
    order: 3;
    overflow: hidden;
  }

  .hero-right {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    letter-spacing: -0.02em;
    padding-top: 5%;
  }

  .hero-mid {
    position: unset;
    order: 2;
    width: 100%;
  }

  .divider {
    position: absolute;
    top: 65%;
    rotate: 174deg;
    z-index: -1;
  }

  .pillers-section {
    padding: 20px;
  }

  .activity-titles,
  .navigation {
    display: none;
  }

  .sub-heading,
  .main-heading {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .hero-right,
  .hero-right span {
    font-size: 28px;
    line-height: 28.41px;
  }
  .hero-section {
    margin: auto 20px;
    row-gap: 20px;
    padding-top: 5%;
  }
  .divider {
    top: 55%;
  }

  .main-heading {
    font-size: 20px;
    line-height: 26.6px;
  }
}

@media screen and (max-width: 380px) {
  .hero-right,
  .hero-right span {
    font-size: 22px;
  }
}
